@font-face {
  font-family: uni;
  src: url(./f1.ttf);
}

@font-face {
  font-family: sfr;
  src: url(./sfregular.woff2);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.header {
  position: fixed;
  top: 12px;
  left: 24px;
  right: 24px;
  height: 60px;
  background: #ffffff70;
  border: 1px solid #ffffffad;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 3;
  border-radius: 20px;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #ff250d;
  font-family: uni;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.table {
  width: calc(100% - 48px);
  margin: 0 24px 16px 24px;
  padding: 0;

  max-height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.greeting {
  margin-bottom: 32px;
}

.greeting p {
  margin: 16px 24px;
  text-indent: 10px;
}

.container {
  max-width: 800px;
  margin: 80px auto 40px; /* отступ сверху для шапки */
  padding: 0 24px;
}

.document-card {
  background: #f3f0f0;
  padding: 20px 24px;
  margin-bottom: 20px;
  border-radius: 20px;
  word-wrap: break-word;
}

.title {
  font-size: 1.5rem;
  font-family: uni;
  color: #ff250d;
  margin: 2px 0 8px 0;
  text-transform: uppercase;
}

.caption {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 10px 0;
  font-family: sfr;
}

.expand-btn {
  background: transparent;
  border: none;
  color: #ff250d;
  font-weight: 600;
  cursor: pointer;
  padding: 0 8px 0 0;
}

.expand-btn:hover {
  text-decoration: underline;
}

.created-at {
  font-size: 0.85rem;
  color: #666;
}

.load-more-btn {
  display: block;
  margin: 0 auto 40px;
  background-color: #3498db;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
}

.load-more-btn:hover {
  background-color: #2980b9;
}

.loader {
  text-align: center;
  color: #666;
  font-size: 1.1rem;
  margin: 20px 0 40px;
}

a {
  color: #ff250d;
  text-decoration: underline #ff250d;
}

.donate {
  
}

.donate h2 {
  font-size: 1.5rem;
  font-family: uni;
  margin: 12px 0 12px 0;
  text-transform: uppercase;
}